/* HTML */
html {
    font-family: sans-serif;
}

/* HEADINGS */
h1 {
    margin-top: 0px;
}

h2 {
    margin-top: 10px;
    margin-bottom: 0px;
}

h4{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 24px;
    font-weight: 400;
}

h6 {
    margin-top: 0px;
    margin-bottom: 0px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 100;
    color: rgb(101,126,147);
}

/* NAVBAR */
#logo {
    font-size: 25px;
}

#account {
  background-color: #3b3e5c;  
}

#login {
    border: 3px solid #3b3e5c;
}


#nav {
    background-color: #000130;
    width: 100%;
    color: #fff;
    text-decoration: none;
    height: 80px;
    line-height: 0px;
}

/* FLEXBOX */
.flex {
    display: flex;
    align-items:center;
    justify-content: center;
    width: 90%;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
}

.flex > div {
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.flex p {
    font-size: 14px;
}

/* DEMO FLEXBOX */
.flex #demo {
    background-color: #f9ebaf;
    width: 90%;
    text-align: left;
    flex-shrink: 4;
    padding-top: 0px;
    padding-bottom: 0px;
}

#demobutton {
    background-color: #3169f6;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
}

/* FLEXBOX WITH HAT */
.flex #hat {
    background-color: #fff;
    padding-right: 25px;
    text-align: left;
}

#hatimg {
    background-color: #f6f5d9;
    float: left;
    padding: 30px;
    width: 25%;
}

#hat > p {
    margin-left: 40%;
}

.lines {
    background-color: #eee;
}

#hat > h5 {
    margin-left: 40%;
    margin-top: 0px;
}

#cartbutton {
    background-color: #a6a7b8;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
}

/* EMPLOYEE FLEXBOX */
#people {
    background-color: rgb(253,253,253);
}

#people img{
    border-radius: 50%;
}

.bio {
    line-height: 1.5;
}


/* FOOTER */
#fnav {
    background-color: #000130;
    width: 100%;
    color: #fff;
    text-decoration: none;
    height: 80px;
    line-height: 0px;
    justify-content:space-around;
}

#flogo{
    font-size: 20px;
    padding-bottom: 5px;
}